<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Social & Media </title>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="../css/materialdesignicons.min.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">

</head>

<body>
    <main class="dashboard">
        <header class="header">
            <div class="header-top">
                <button onclick="goBack()" type="button" class="back-button mdi mdi-arrow-left">  </button>
            </div>
            <div class="header-bottom">
                <h1 class="header-title">Social & Media</h1>
            </div>
        </header>
        <article class="article">
            <div class="social-link">
                <ul class="social-link-list">
                    <li><a href="" class="fb"><i class="mdi mdi-facebook"></i>Facebook</a></li>
                    <li><a href="" class="tw"><i class="mdi mdi-twitter"></i>Twitter</a></li>
                    <li><a href="" class="in"><i class="mdi mdi-instagram"></i>Instagram</a></li>
                </ul>
            </div>
            <div class="sub-menu">
                <ul class="sub-menu-list">
                    <li>
                        <a href="group.html">
                            <i class="icon"><img src="../images/radio.svg" alt=""></i>
                            <span class="menu-value">News</span>
                        </a>
                    </li>
                    <li>
                        <a href="self.html">
                            <i class="icon"><img src="../images/negative.svg" alt=""></i>
                            <span class="menu-value">Video</span>
                        </a>
                    </li>
                    <li>
                        <a href="add.html">
                            <i class="icon"><img src="../images/insert.svg" alt=""></i>
                            <span class="menu-value">News Paper</span>
                        </a>
                    </li>
                </ul>
            </div>

        </article>

    </main>

    <!-- JS -->
    <script type="text/javascript" src="../js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="../js/main.jquery.js"></script>

</body>

</html>