<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> CM Office Contact </title>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="../css/materialdesignicons.min.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">

</head>

<body>
    <main class="dashboard">
        <header class="header">
            <div class="header-top">
                <button onclick="goBack()" type="button" class="back-button mdi mdi-arrow-left">  </button>
            </div>
            <div class="header-bottom">
                <h1 class="header-title"> Contact CM </h1>
            </div>
        </header>
        <article class="article">
            <div class="contacts">
                <a href="tel:0123456789" class="contact-box">
                    <div class="contact-content">
                        <h5 class="title">CM Office Thiruvananthapuram</h5>
                        <h3 class="number">0471 2512345</h3>
                    </div>
                    <span class="call mdi mdi-phone-outline"></span>
                </a>
                <a href="tel:0123456789" class="contact-box">
                    <div class="contact-content">
                        <h5 class="title">Personal Assistant</h5>
                        <h3 class="number">9876543210</h3>
                    </div>
                    <span class="call mdi mdi-phone-outline"></span>
                </a>
                <a href="tel:0123456789" class="contact-box">
                    <div class="contact-content">
                        <h5 class="title">Personal Assistant 2</h5>
                        <h3 class="number">9876543210</h3>
                    </div>
                    <span class="call mdi mdi-phone-outline"></span>
                </a>
                <a href="mailto:abc@example.com" class="contact-box">
                    <div class="contact-content">
                        <h3 class="number">contactcm@gmail.com</h3>
                    </div>
                    <span class="mail mdi mdi-email-outline"></span>
                </a>
                <a href="mailto:abc@example.com" class="contact-box">
                    <div class="contact-content">
                        <h3 class="number">cmofficetrivandrum@gmail.com</h3>
                    </div>
                    <span class="mail mdi mdi-email-outline"></span>
                </a>

            </div>
        </article>

    </main>

    <!-- JS -->
    <script type="text/javascript" src="../js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="../js/main.jquery.js"></script>

</body>

</html>