<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Contact Details </title>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="../../static/css/materialdesignicons.min.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/@mdi/font@6.5.95/css/materialdesignicons.min.css">

</head>

<body>
    <main class="dashboard">
        <header class="header">
            <div class="header-top">
                <button onclick="goBack()" type="button" class="back-button mdi mdi-arrow-left">  </button>
            </div>
            <div class="header-bottom">
                <h1 class="header-title"> Contact Details </h1>
            </div>
        </header>
        <article class="article">
            <div class="contacts">
                <ul class="contact-list">
                    <li><a href="contacts.html">GOV Office</a></li>
                    <li><a href="mp.html">CM Office</a></li>
                    <li><a href="contacts.html">Hospital</a></li>
                    <li><a href="contacts.html">Police</a></li>
                    <li><a href="contacts.html">Doctors</a></li>
                    <li><a href="contacts.html">Chemists</a></li>
                    <li><a href="contacts.html">Education</a></li>
                    <li><a href="contacts.html">Ambulance Service</a></li>
                    <li><a href="contacts.html">Blood Banks</a></li>
                    <li><a href="contacts.html">24 Hr Pharmacies</a></li>
                    <li><a href="contacts.html">Electricity</a></li>
                    <li><a href="contacts.html">Fire</a></li>
                    <li><a href="contacts.html">Air Transport</a></li>
                    <li><a href="contacts.html">Road Transport-</a></li>
                    <li><a href="contacts.html">Rail Transport</a></li>
                    <li><a href="contacts.html">Kerala Tourism</a></li>
                </ul>

            </div>
        </article>

    </main>

    <!-- JS -->
    <script type="text/javascript" src="../../static/scripts/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="../../static/scripts/main.jquery.js"></script>

</body>

</html>