<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Bloods Info </title>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="../../static/css/materialdesignicons.min.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/@mdi/font@6.5.95/css/materialdesignicons.min.css">

</head>

<body>
    <main class="dashboard">
        <header class="header">
            <div class="header-top">
                <button onclick="goBack()" type="button" class="back-button mdi mdi-arrow-left">  </button>
            </div>
            <div class="header-bottom">
                <h1 class="header-title"> Bloods Information </h1>
            </div>
        </header>
        <article class="article">

            <div class="blood-information">
                <ul class="info-list">
                    <li>
                        <div class="info-group">
                            <span class="label">O+</span>
                            <span class="value">37.4%</span>
                        </div>
                        <div class="info-match">
                            <span class="name">O+</span><span class="name">A+</span><span class="name">B+</span><span class="name">AB+</span>
                        </div>
                    </li>
                    <li>
                        <div class="info-group">
                            <span class="label">O-</span>
                            <span class="value">6.6%</span>
                        </div>
                        <div class="info-match">
                            <span class="name">All blood type</span>
                        </div>
                    </li>
                    <li>
                        <div class="info-group">
                            <span class="label">A+</span>
                            <span class="value">35.8%</span>
                        </div>
                        <div class="info-match">
                            <span class="name">A+</span><span class="name">AB+</span>
                        </div>
                    </li>
                    <li>
                        <div class="info-group">
                            <span class="label">A-</span>
                            <span class="value">6.3%</span>
                        </div>
                        <div class="info-match">
                            <span class="name">A+</span><span class="name">A-</span><span class="name">AB+</span><span class="name">AB-</span>
                        </div>
                    </li>
                    <li>
                        <div class="info-group">
                            <span class="label">B+</span>
                            <span class="value">8.5%</span>
                        </div>
                        <div class="info-match">
                            <span class="name">B+</span><span class="name">AB+</span>
                        </div>
                    </li>
                    <li>
                        <div class="info-group">
                            <span class="label">B-</span>
                            <span class="value">1.5%</span>
                        </div>
                        <div class="info-match">
                            <span class="name">B+</span><span class="name">B-</span><span class="name">AB+</span><span class="name">AB-</span>
                        </div>
                    </li>
                    <li>
                        <div class="info-group">
                            <span class="label">AB+</span>
                            <span class="value">3.4%</span>
                        </div>
                        <div class="info-match">
                            <span class="name">AB+</span>
                        </div>
                    </li>
                    <li>
                        <div class="info-group">
                            <span class="label">AB-</span>
                            <span class="value">0.6%</span>
                        </div>
                        <div class="info-match">
                            <span class="name">AB+</span><span class="name">AB-</span>
                        </div>
                    </li>
                </ul>
            </div>
        </article>

    </main>

    <!-- JS -->
    <script type="text/javascript" src="../../static/scripts/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="../../static/scripts/main.jquery.js"></script>

</body>

</html>