<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome To NAC System</title>
    <link rel="stylesheet" href="../static/css/welcome.css">
</head>
<body>
    <div class="container">
        <div class="welcome-box">
            <h1 class="title">
                Let us know the issues, Not just for your satisfaction But for the future too
            </h1>
            <p class="text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel quod quas ad explicabo, autem pariatur, fugit animi dolore obcaecati ipsum eum cumque! Aspernatur nobis totam error possimus reiciendis, ducimus rerum.</p>
            <a href="{% url 'login'%}" class="login-btn">Login</a>
        </div>
    </div>
</body>
</html>