<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Suggestion Details </title>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="../../static/css/materialdesignicons.min.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/@mdi/font@6.5.95/css/materialdesignicons.min.css">

</head>

<body>
    <main class="dashboard">
        <header class="header">
            <div class="header-top">
                <button onclick="goBack()" type="button" class="back-button mdi mdi-arrow-left">  </button>
            </div>
            <div class="header-bottom">
                <h1 class="header-title"> Suggestion Details </h1>
            </div>
        </header>
        <article class="article">
            <div class="program-details">
                <div class="details-content m0">
                    <h2 class="title">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h2>
                    <h4 class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo distinctio vero eligendi? Blanditiis alias veritatis molestiae culpa mollitia modi nihil eius! Animi, aliquid tempore. Nulla ratione voluptatibus ea optio quaerat?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque pariatur voluptas perspiciatis id voluptates enim cumque, laudantium placeat optio commodi accusantium? Voluptates reprehenderit, fuga ex iste enim rerum nesciunt
                        molestiae. </h4>
                </div>
                <div class="details-images">
                    <i class="images"><img id="" onclick="onClick(this)" src="../../static/images/suggestions/images-12.jpg" alt=""></i>
                    <i class="images"><img id="" onclick="onClick(this)" src="../../static/images/suggestions/images-13.jpg" alt=""></i>
                    <i class="images"><img id="" onclick="onClick(this)" src="../../static/images/suggestions/images-14.jpg" alt=""></i>
                    <i class="images"><img id="" onclick="onClick(this)" src="../../static/images/suggestions/images-15.jpg" alt=""></i>
                </div>
            </div>

        </article>

        <div id="imageModal" class="modal" onclick="this.style.display='none'">
            <span class="close mdi mdi-close"></span>
            <div class="modal-body">
                <img class="modal-content" id="img01">
            </div>
        </div>

    </main>

    <!-- JS -->
    <script type="text/javascript" src="../../static/scripts/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="../../static/scripts/main.jquery.js"></script>

</body>

</html>