<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> NAC </title>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="../../static/css/materialdesignicons.min.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/@mdi/font@6.5.95/css/materialdesignicons.min.css">

</head>

<body>
    <main class="dashboard">
        <header class="header">
            <div class="header-top">
                <button onclick="goBack()" type="button" class="back-button mdi mdi-arrow-left">  </button>
            </div>
            <div class="header-bottom">
                <h1 class="header-title"> Complaints </h1>
            </div>
        </header>
        <article class="article">
            <div class="select-sort">
                <select class="form-control">
                    <option selected> All </option>
                    <option> Fixed </option>
                    <option> Processing </option>
                </select>
            </div>
            <div class="complaint-list">
                <a class="complaint-col" href="{% url 'complaint_box_details'%}">
                    <div class="complaint-image">
                        <span class="complaint-image-box"><img src="../../static/images/complaints/images-5.jpg" alt=""></span>
                    </div>
                    <div class="complaint-box">
                        <span class="status fixed">Fixed</span>
                        <h3 class="title">Road Footpath Blocked</h3>
                        <h5 class="location">Thrithala Kootanad PO, Trithala, Palakkad</h5>
                    </div>
                </a>
                <a class="complaint-col" href="{% url 'complaint_box_details'%}">
                    <div class="complaint-image">
                        <span class="complaint-image-box"><img src="../../static/images/complaints/images-6.jpg" alt=""></span>
                    </div>
                    <div class="complaint-box">
                        <span class="status processing">Processing</span>
                        <h3 class="title">Road Footpath Blocked</h3>
                        <h5 class="location">Thrithala Kootanad PO, Trithala, Palakkad</h5>
                    </div>
                </a>
            </div>

            <a href="{% url 'complaint_box_new'%}" class="add-button mdi mdi-plus"> </a>
        </article>

    </main>

    <!-- JS -->
    <script type="text/javascript" src="../../static/scripts/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="../../static/scripts/main.jquery.js"></script>

</body>

</html>