@import "reset-style.css";

body{
    background-image: url(../images/login/bg-image.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
body::before{
    content: '';
    background: -webkit-linear-gradient(45deg, rgba(0,0,0,1) 0%,rgba(0,0,0,0.52) 100%);
    width: 100%;
    height: 100%;
    display: block;
    top: 0;
    left: 0;
    position: fixed;
}
.container{
    max-width: 400px;
    margin: 0 auto;
    padding: 50px;
}
.loginbox{
    color: white;
    border-radius: 15px;
    height: calc(100vh - 100px);
    width: 100%;
    display: table;
    text-align: center;
    position: relative;
    z-index: 1;
}
.top{
    display: table-row;
}
.top .column{
    padding: 70px 10px;
}
.bottom{
    display: table-row;
    height: 250px;
}
.signbtn{
    color: #29c6c6;
    font-weight: 700;
    text-decoration: none;
}
.signbtn:hover{
    color: #29c6c6;
    text-decoration: underline;
}
.column{
    display: table-cell;
    vertical-align: top;
}
.form-grp{
    border-radius: 5px;
    background-color: rgba(255,255,255,0.10);
    text-align: left;
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}
.form-grp i{
    display: inline-block;
    height: 40px;
    width: 40px;
    vertical-align: middle;
    text-align: center;
    line-height: 40px;
}
.form-grp input{
    color: white;
    background-color: transparent;
    border: none;
    height: 40px;
    padding: 0;
    width: calc(100% - 40px);
    vertical-align: middle;
}
.form-grp input[type="number"]{
    -webkit-appearance: none;
    appearance: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
.form-grp input:focus{
    outline: none;
}
.form-grp input:focus::-webkit-input-placeholder{
    color: transparent;
}
.form-grp-modal{
    color: white;
    background-color: transparent;
    border: none;
    height: 40px;
    padding: 0;
    width: calc(100% - 40px);
    vertical-align: middle;
}
.loginbox .title{
    font-size: 30px;
    margin-bottom: 50px;
    font-weight: 700;
}
.login-btn{
    background:linear-gradient(100deg,#29a6c6,#31e1e1);
    border-radius: 8px;
    color: white;
    border: none;
    height: 40px;
    width: 100%;
    line-height: 39px;
}
.login-btn:hover{
    box-shadow: 0 0 0 1px #29a6c6, 0 0 10px 5px rgba(41, 166, 198, 0.31);
    color: white;
    text-decoration: none;
}
.link1{
    font-size: 12px;
    color: lightslategrey;
}
.link1:hover{
    text-decoration: underline;
    color: lightslategrey;
}
.btn-grp{
    margin-bottom: 15px;
}
.text1{
    color: lightslategrey;
    margin-bottom: 10px;
}
.main-div{
    margin: 0px 70px;
}
.forgot-modal{
    text-align: center;
}
.forgot-modal .mdi-alert-circle-outline{
    font-size: 75px;
    color: blue;
    margin-bottom: 15px;
    display: inline-block;
}
.modal-input[type="number"]{
    -webkit-appearance: none;
    appearance: none;
}
.modal-input input:focus{
    outline: none;
}
.modal-input input:focus::-webkit-input-placeholder{
    color: transparent;
}
.forgot-modal .title{
    font-weight: 600;
    margin-bottom: 10px;
}
.forgot-modal .text{
    font-size: 14px;
    color: lightslategrey;
    line-height: 1.6;
    margin-bottom: 10px;
}
.forgot-modal .modal-input{
    margin-bottom: 15px;
    position: relative;
}
.forgot-modal .modal-input input{
    width: 100%;
    height: 40px;
    padding: 0 10px 0 40px;
    border: 1px solid #bbb;
    border-radius: 5px;
}
.forgot-modal .btn{
    background-color: #4caf50;
    width: 100%;
    color: white;
    margin-bottom: 15px;
}
.forgot-modal .modal-input .mdi{
    position: absolute;
    left: 0;
    top: 0;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
}
.forgot-modal .modal-body{
    padding: 50px;
}
.forgot-modal .mdi-chevron-left{
    color: black;
    font-size: 18px;
    vertical-align: middle;
}
.forgot-modal .back{
    color: lightslategrey;
    font-size: 13px;
}