@import "reset-style.css";

body{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
body::before{
    content: '';
    background: -webkit-linear-gradient(45deg, rgba(0,0,0,1) 0%,rgba(0,0,0,0.52) 100%);
    width: 100%;
    height: 100%;
    display: block;
    top: 0;
    left: 0;
    position: fixed;
}
.container{
    max-width: 500px;
    margin: 0 auto;
    padding: 50px;
}
.newpasswordbox{
    background-color: white;    
    color: white;
    border-radius: 5px;
    height: 250px;
    width: 100%;
    display: table;
    text-align: center;
    position: relative;
    z-index: 1;
    display:flex;justify-content:center;align-items:center;
    margin-top: 240px;
}
.top{
    display: table-row;
}
.top .column{
    padding: 10px 10px;
    width: 300px;
}
.bottom{
    display: table-row;
    height: 250px;
}
.newpasswordbox .title{
    font-size: 25px;
    margin-bottom: 20px;
    font-weight: 700;
    color: black;
}
.ok-btn{
    background:linear-gradient(100deg,#29a6c6,#31e1e1);
    border-radius: 5px;
    color: white;
    border: none;
    height: 40px;
    width: 100%;
    line-height: 39px;
    text-decoration: none;
}
.ok-btn:hover{
    box-shadow: 0 0 0 1px #29a6c6, 0 0 10px 5px rgba(41, 166, 198, 0.31);
    color: white;
    text-decoration: none;
}
.form-grp{
    border-radius: 5px;
    background-color: gainsboro;
    text-align: left;
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}
.form-grp i{
    display: inline-block;
    height: 40px;
    width: 40px;
    vertical-align: middle;
    text-align: center;
    line-height: 40px;
}
.form-grp input{
    color: black;
    background-color: transparent;
    border: none;
    height: 40px;
    padding: 0;
    width: calc(100% - 40px);
    vertical-align: middle;
}
.form-grp input[type="number"]{
    -webkit-appearance: none;
    appearance: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
.form-grp input:focus{
    outline: none;
}
.form-grp input:focus::-webkit-input-placeholder{
    color: transparent;
    
}
.form-grp-modal{
    color: white;
    background-color: transparent;
    border: none;
    height: 40px;
    padding: 0;
    width: calc(100% - 40px);
    vertical-align: middle;
}
.mdi{
    color: black;
}

/*- Toast ------------------------*/
.toast-box {
    position: fixed;
    top: 100;
    left: 100;
    /* text-align: center; */
    pointer-events: none;
    width: 10%;
    /* z-index: 202; */
    margin-bottom: 300px;
  }
  .toast {
    /* display: inline-block; */
    background-color: #ffffff;
    color: #20274c;
    border-radius: 8px;
    visibility: hidden;
    opacity: 0;
    /* height: 35px; */
    line-height: 35px;
    padding: 0px 5px;
    font-size: 0.9rem;
    width: auto;
    white-space: nowrap;
    /* position: relative; */
  }
  .toast::before {
    vertical-align: middle;
    color: #27c665;
    /* margin-right: 5px; */
    font-size: 1.2rem;
    float: left;
  }
  .toast.show {
    visibility: visible;
    animation: fadeInOut 10s;
  }
