@import "reset-style.css";

body{
    background-image: url(../images/welcome/bg\ image.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
body::before{
    content: '';
    background: -webkit-linear-gradient(45deg, rgba(0,0,0,1) 0%,rgba(0,0,0,0.52) 100%);
    width: 100%;
    height: 100%;
    display: block;
    top: 0;
    left: 0;
    position: fixed;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    color: white;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    z-index: 1;
    position: relative;
}
.title{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 25px;
    line-height: 1.2;
}
.login-btn{
    display: inline-block;
    background-color: white;
    border-radius: 8px;
    color: black;
    border: none;
    height: 60px;
    width: 400px;
    line-height: 60px;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
}
.welcome-box .login-btn:hover{
    box-shadow: 0 0 0 1px white, 0 0 10px 5px rgba(41, 166, 198, 0.31);
}
.welcome-box{
    max-width: 640px;
}
.text{
    line-height: 1.5;
    margin-bottom: 25px;
}